
<form role="form" id="editPerson" data-bind="with: chosenPerson">
    <fieldset>
        <legend>User Details</legend>
        <div class="row">
            <div class="col-md-2 col-xs-4">
                <div class="checkbox pull-right">
                    <label for="isAuthorised">Authorised</label>
                    <input id="isAuthorised" type="checkbox" class="pull-right" data-bind="checked: IsAuthorised" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-4">
                <div class="checkbox pull-right">
                    <label for="isEnabled">Enabled</label>
                    <input id="isEnabled" type="checkbox" class="pull-right" data-bind="checked: IsEnabled" />
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Favourite colours</legend>
        <div class="row">
            <div class="col-md-2 col-xs-4">
                <div class="checkbox pull-right">
                    <label for="blue">Blue</label>
                    <input id="blue" value="3" type="checkbox" class="pull-right" data-bind="checked: ColourIDs" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-4">
                <div class="checkbox pull-right">
                    <label for="green">Green</label>
                    <input id="green" value="2" type="checkbox" class="pull-right" data-bind="checked: ColourIDs" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-4">
                <div class="checkbox pull-right">
                    <label>Red</label>
                    <input id="red" value="1" type="checkbox" class="pull-right" data-bind="checked: ColourIDs" />
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-offset-2 col-xs-offset-4">
            <div style="position: relative; left: -28px;">
                <button type="button" class="btn btn-primary" data-bind="click: saveChanges">Save Changes</button>
                <button type="button" class="btn btn-default" data-bind="click: cancelChanges">Cancel</button>
            </div>
        </div>
    </div>
</form>