@model dynamic

@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table class="table" id="people">
        <thead>
            <tr>
                <th>Name</th>
                <th>Authorised</th>
                <th>Enabled</th>
                <th>Colours</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: people">
            <tr>
                <td><a id="1" href="#" data-bind="attr: { id: Id }, text: FullName">Bo Bob</a></td>
                <td><span data-bind="css: AuthorisedClass"></span></td>
                <td><span data-bind="css: EnabledClass"></span></td>
                <td data-bind="text: Colours">Red</td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/KnockoutModels/PersonList.js"></script>
}
