#people .no:after {
    content: "No";
    color: red;
}

#people .yes:after {
    content: "Yes";
    color: green;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    position: relative;
    margin-left: 10px;
}
